/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* @font-face {
    font-family: 'MyFont';
    src: url('./sptfy/SpotifyMix-Black.woff2.woff2') format('woff2'),
    url('sptfy/SpotifyMix-Black.woff') format('woff'),
    url('sptfy/SpotifyMix-Black.ttf') format('ttf'),
    url('sptfy/SpotifyMix-Black.eot') format('eot');
} */

:root{
    --a: 0;
}

*{
    margin: 0;
    padding: 0;
    /* font-family: "MyFont", serif; */
    font-family: "Sora", serif;
    font-weight: 400;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 6px 0;
    min-height: 100vh;
}

.right{
    width: 75vw;
    /* max-height: 100vh; */
}

/* .home{

} */

.home ul li{
    list-style: none;
    display: flex;
    gap: 12px;
    width: 18px;
    padding-top: 14px;
    /* font-weight: bold; */
}

.heading{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 170px;
    padding-top: 14px;
    /* font-weight: bold; */
}

.heading img{
    width: 22px;
}

.heading h2{
    font-size: 18px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding-bottom: 8px;
}

.footer a{
    color: grey;
    text-decoration: none;
}

.right{
    margin: 12px 3px;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 33, 33);
    height: 56px;
    border-radius: 7px;
}

.header > *{
    padding: 10px 0;
}

.spotifyPlaylists{
    padding: 15px;
}

.spotifyPlaylists h2{
    padding: 12px;
}

.cardContainer{
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 65vh;
}

.card{
    width: 180px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .1s;
}

.card:hover{
    background-color: #353535;
    cursor: pointer;
    --a: 1;
}

.card > *{
    padding-top: 3px;
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.play{
    width: 28px;
    height: 28px;
    background-color: #1abc54;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 75px;
    right: 15px;
    opacity: var(--a);
    transition: all .3s ease-out;
}

.buttons > *{
    margin: 0 12px;
}

.signupbtn{
    background-color: rgb(33, 33, 33);
    color: grey;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

.signupbtn:hover{
    /* font-size: 15px; */
    color: white;
    transform: scale(1.05);
}

.loginbtn{
    background-color: white;
    color: black;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    font-size: 14px;
}

.loginbtn:hover{
    /* font-size: 15px; */
    transform: scale(1.05);
}

.playbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    background-color: rgb(220, 220, 220);
    filter: invert(1);
    border-radius: 15px;
    width: 70vw;
    padding: 12px;
    min-height: 30px;
}


.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList{
    height: 600px;
    overflow: auto;
    margin: 20px 0 50px 0;
}

.songList ul{
    padding: 12px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    border-radius: 5px;
    margin: 12px 0px;
    padding: 12px;

}

.songList .info{
    font-size: 13px;
    width: 340px;
}

.info div{
    word-break: break-all;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 15px;
    width: 70px;

}

.seekbar{
    height: 4px;
    width: 97%; /*100% for bottom stick*/
    background: rgb(0, 0, 0);
    /* border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; */
    position: absolute;
    bottom: 10px;
    /* left: 0; */ 
    /* margin: 4px ; */
    cursor: pointer;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    bottom: 3px;
    left: 0%;
    transition: left 0.5s;
}

.timevol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.songinfo{
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime{
    color: black;
    padding: 0 12px;
    width: 140px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 12px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.songbuttons{
    cursor: pointer;
    height: fit-content;
}

/* abovebar */
.barcontent{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.close{
    display: none;
}











@media (max-width: 1150px){
    .left{
        position: absolute;
        left: -130%;
        transition: all .5s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .left .close{
        position: absolute;
        right: 16px;
        top: 21px;
    }

    .right{
        width: 100vw;
        margin: 0;
    }

    .header{
        border-radius: 0;
    }

    .playbar{
        width: calc(100vw - 60px);
        right: 18px;
    }

    .seekbar{
        width: 97%;
    }

    .hamburger{
        display: block;
    }

    .close{
        display: block;
    }

    .card{
        width: 55vw; /*44vw*/
    }

    .cardContainer{
        margin: 0;
        justify-content: center;
        /* max-height: 60vh; */
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 24vh;
    }

    .barcontent{
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin: 8px 0;
    }

    .songinfo, .songtime{
        width: auto;
    }

    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }


}


@media (max-width: 500px){
    .card{
        width: 100%; /*80vw*/
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h2{
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{
        width: 100vw;
    }
}
